{{!-- Footer --}}
<footer class="page-footer {{site.colors}}">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h5 class="white-text">Cheers ;-)</h5>
                <a class="btn-floating btn-large waves-effect waves-light extra-margin {{site.accent}}"
                   href="{{site.social.twitter}}"
                   title="Twitter">
                   <i class="fa fa-twitter"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light extra-margin {{site.accent}}"
                   href="{{site.social.github}}"
                   title="Github">
                   <i class="fa fa-github"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light extra-margin {{site.accent}}"
                   href="{{site.social.linkedin}}"
                   title="LinkedIn">
                   <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light extra-margin {{site.accent}}"
                   href="{{site.social.email}}"
                   title="E-Mail">
                   <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="center">Copyright © 2017 by Rico A. Beti</p>
        </div>
    </div>
</footer>