{{!-- Navigation --}}
<nav class="{{site.colors}}" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">{{site.brand}}</a>
        <ul class="right hide-on-med-and-down">
            {{#each site.sections}}
                <li><a href="#{{this.name}}" title="{{this.title}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
        <ul id="nav-mobile" class="side-nav">
            {{#each site.sections}}
                <li><a href="#{{this.name}}" title="{{this.title}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>