{{!-- Social --}}
<a class="btn-floating btn-large waves-effect waves-light extra-margin {{@root.site.theme.accent}}"
   href="{{@root.site.social.twitter}}"
   title="Twitter">
   <i class="fa fa-twitter"></i>
</a>
<a class="btn-floating btn-large waves-effect waves-light extra-margin {{@root.site.theme.accent}}"
   href="{{@root.site.social.github}}"
   title="Github">
   <i class="fa fa-github"></i>
</a>
<a class="btn-floating btn-large waves-effect waves-light extra-margin {{@root.site.theme.accent}}"
   href="{{@root.site.social.linkedin}}"
   title="LinkedIn">
   <i class="fa fa-linkedin"></i>
</a>
<a class="btn-floating btn-large waves-effect waves-light extra-margin {{@root.site.theme.accent}}"
   href="{{@root.site.social.email}}"
   title="E-Mail">
   <i class="fa fa-envelope"></i>
</a>