<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#{{ site.theme }}">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/thumbnail.png">

    <title>{{site.title}}</title>

    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>

    {{> navigation }}
    {{> about }}
    {{> footer }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="portfolio.js"></script>
</body>
</html>